<div class="collage collage-full">
  <figure>
    {% if include.link %}
    <a href="{{ include.link }}" target="_blank" rel="noopener">
      <img src="{{ include.img1 }}" alt="{{ include.cap1 }}">
    </a>
    <figcaption><strong><a href="{{ include.link }}" target="_blank" rel="noopener">{{ include.link }}</a></strong></figcaption>
    {% else %}
    <a href="{{ include.img1 }}" class="collage-img" title="{{ include.cap1 }}">
      <img src="{{ include.img1 }}" alt="{{ include.cap1 }}">
    </a>
    {% if include.cap1 %}<figcaption>{{ include.cap1 }}</figcaption>{% endif %}
    {% endif %}
  </figure>
</div>
